
// ----------------------------------
// BaseKit Template: Chay
// ----------------------------------





// -----------------------------
//  1. Colours
// -----------------------------


.row--light {
    background-color: $row-color-light;


    body,
    p,
    li,
    a,
    blockquote,
    i,
    strong,
    code,
    pre,
    span,
    label,
    input,
    textarea,
    .navigation-item .item-name {
        color: $row-color-dark;
    }


    .selected .navigation-item .item-name {
        color: $row-color-accent;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    .navigation-item:hover .item-name {
        color: $row-color-darkest;
    }


    input,
    textarea {
        border: 2px solid fade-out($row-color-dark, 0.2);
    }


    button,
    .button {
        background-color: $row-color-dark;
        color: $row-color-lightest;
    }
}


.row--accent {
    background-color: $row-color-accent;


    body,
    p,
    li,
    a,
    blockquote,
    i,
    strong,
    code,
    pre,
    span,
    label,
    input,
    textarea,
    .navigation-item .item-name {
        color: $row-color-dark;
    }


    .selected .navigation-item .item-name {
        color: $row-color-darkest;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    .navigation-item:hover .item-name {
        color: $row-color-darkest;
    }


    input,
    textarea {
        border-bottom: 2px solid fade-out($row-color-dark, 0.2);
    }


    button,
    .button {
        background-color: $row-color-dark;
        color: $row-color-lightest;
    }
}


.row--dark {
    background-color: $row-color-dark;


    body,
    p,
    li,
    a,
    blockquote,
    i,
    strong,
    code,
    pre,
    span,
    label,
    input,
    textarea,
    .navigation-item .item-name {
        color: $row-color-lightest;
    }


    .selected .navigation-item .item-name,
    .navigation-item:hover .item-name {
        color: $row-color-darkest;
    }


    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $row-color-lightest;
    }


    input,
    textarea {
        border-bottom: 2px solid fade-out($row-color-light, 0.2);
    }


    button,
    .button {
        background-color: $row-color-accent;
        color: $row-color-dark;
    }
}
