
// -----------------------------------------
// Row Template: Hero Row
// -----------------------------------------




// Hero Row
[data-name="row"]:nth-child(2) {


    // Row container
    .row__container {
        .align-items(center);
        .justify-content(center);
        max-width: 100%;
        padding-top: 75px;
        position: relative;
        z-index: 2;
    }


    // Background image
    .row,
    .row__container {
        background-image: none!important;
        min-height: 65vh;
    }


    // Add max width to content
    .widget {
        max-width: 800px;

        @media only screen and (max-width: 1024px) {
            max-width: 600px;
        }

        @media only screen and (max-width: 700px) {
            max-width: 90%;
        }

        h1, p {
            text-align: center;
        }

        p {
            font-size: bkscale(@font__p--font-size, 1.1);
            line-height: bkscale(@font__p--line-height, 1.1);

            @media only screen and (max-width: 700px) {
                font-size: bkscale(@font__p--font-size, 1);
                line-height: bkscale(@font__p--line-height, 1);
            }
        }
    }
}
